<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DBConnectionString" connectionString="Data Source=FWSERVER2\SQL2008R2;Initial Catalog=trukkerUAETest;Persist Security Info=True;User ID=sa;Password=m_pradeep2411" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnectionString" connectionString="Data Source=52.89.22.101;Initial Catalog=TrukkerUAE;Persist Security Info=True;User ID=sa;Password=m_pradeep2411;pooling=true;connection lifetime=120;max pool size=75;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-trukkerUAE-20160613110050;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-trukkerUAE-20160613110050.mdf" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="ServerLogFile" value="E:/Sandip/PROJ/trukkerUAEAPI/trukkerUAEAPI/Log/log.txt" />
    <add key="TransLogFile" value="E:/Sandip/PROJ/trukkerUAEAPI/trukkerUAEAPI/Log/Trnslog.txt" />    <!--This is to record exceptions in text file-->
    <add key="OTPLogFile" value="E:/Sandip/PROJ/trukkerUAEAPI/trukkerUAEAPI/Log/OTPlog.txt" />       <!--This is to record successful  Transaction log-->
    <add key="ExceptionLogFile" value="E:/Sandip/PROJ/trukkerUAEAPI/trukkerUAEAPI/Log/Exaptionlog.txt" />
    <add key="RequestLogFile" value="E:/Sandip/PROJ/trukkerUAEAPI/trukkerUAEAPI/Log/Exaptionlog.txt" />
    
    <add key="AutoFlushServerLogFile" value="Y"></add>
    <add key="MaxSizeToAutoFlushServerLogFile" value="5000000"></add>
    <!--in Bytes-->
    <add key="MgmtExceptionLogFile" value="MgmtExceptionLog.txt" />
    <add key="NoOfMessageInGetMessage" value="20" />

   
    
    <add key="ProfilePic" value="~/Images/ProfPic/" />
    <!--This is meant to add profile picture of Transporter (Company ) as of now it is not in use.-->
    <add key="KmsPerCoin" value="1" />
    <add key="OTPdomain" value="http://www.smartsmsgateway.com/api/api_json.php" />
    <add key="OTPusername" value="trucker" />
    <add key="OTPpassword" value="truck321" />
    <add key="OTPsender" value="TruKKer" />
    <add key="OTPdomain" value="http://www.smartsmsgateway.com/api/api_json.php" />
    <add key="OTPusername" value="trucker" />
    <add key="OTPpassword" value="truck321" />
    <add key="OTPsender" value="TruKKer" />
    <add key="cbm" value="http://trukker.ae/movers/movers_final.html" />
    <add key="Track" value="http://trukker.ae/Track.html" />
    <add key="Payment" value="http://trukker.ae/custom_payment.html" />
    <add key="AddonPayment" value="http://trukker.ae/custom_payment.html" />
    <add key="EmailHost" value="smtp.gmail.com"></add>
    <add key="EmailFrom" value="trukkerfeeder@gmail.com"></add>
    <add key="EmailPort" value="587"></add>
    <add key="Domain" value="http://trukker.ae/trukkerUAEAPI/"></add>
    <add key="ImageURL" value="http://trukker.ae/trukkerUAEAPI/Images/" />
    <add key="SUBINTER" value=" Intern at one of UAE's most exciting Tech Start Up "/>
    <add key="SUBVENDER" value=" Stop paying for leads, Get CONFIRMED business everyday! "/>
    <add key="SUBPARTNER" value=" Property Brokers, earn AED 200 every time WE move a home! "/>
    <add key="SUBGOODS" value=" Now Book Trucks Online in UAE At Best Rates...www.TruKKer.ae "/>
    <add key="SUBHOME" value="  Moving homes in the UAE? Moves starting at AED500 "/>
    <add key="SUBHOLIDAY" value=" Order Rescheduling Request  "/>
    <add key="SUBBETTERHOME" value=" Moving Homes in the UAE? Moves starting AED500 🚛💨 "/>
    <add key="SUBOFFICEMOVE" value=" Moving Homes in the UAE? Moves starting AED500 🚛💨 "/>
    
    <add key="InvoicePdfPath" value="E:/Sandip/PROJ/UAE/trukkerUAEAPI/trukkerUAEAPI/GeneratedPdf/" />
    <add key="InvoicePdfLink" value="E:/Sandip/PROJ/UAE/trukkerUAEAPI/trukkerUAEAPI/GeneratedPdf/" />
    
    <add key="SUBRESCH_CONF" value=" Order Rescheduling Confirmation "/>
    <add key="SUBRESCH_REQ" value=" Order Rescheduling Request  "/>
    
    <add key="CBM_PDF_path" value="E:\www\movers\GeneratedPdf"></add>
    <add key="CBM_PDF_path1" value="E:\www\movers\GeneratedPdf"></add>
    <add key="CBM_url" value="http://192.168.1.2/CBMchamp/"></add>
    <add key="CBM_PDF_Path" value="E:/Sandip/PROJ/trukkerUAEAPI/trukkerUAEAPI/GeneratedPdf/"></add>
    <add key="CBM_PDF_URL" value="http://192.168.1.2/CBMchamp/"></add>
    


    <!--<add key="OTPdomain" value="http://www.smartsmsgateway.com/api/api_json.php" />
    <add key="OTPusername" value="trucker" />
    <add key="OTPpassword" value="truck321" />
    <add key="OTPsender" value="TruKKer" />

    <add key="cbm" value="http://trukker.ae/movers/movers_final.html" />
    <add key="Track" value="http://trukker.ae/Track.html" />
    <add key="EmailHost" value="smtp.gmail.com"></add>
    <add key="EmailFrom" value="trukkerfeeder@gmail.com"></add>
    <add key="EmailPort" value="587"></add>
    <add key="ImageURL" value="http://trukker.ae/trukkerUAEAPI/"></add>
    <add key="Domain" value="http://trukker.ae/trukkerUAEAPI/Images/" />
    <add key="SUBINTER" value=" Intern at one of UAE's most exciting Tech Start Up "/>
    <add key="SUBVENDER" value=" Stop paying for leads, Get CONFIRMED business everyday! "/>
    <add key="SUBPARTNER" value=" Property Brokers, earn AED 200 every time WE move a home! "/>
    <add key="SUBADD" value=" Now Book Trucks Online in UAE At Best Rates...www.TruKKer.ae "/>-->
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <!-- <validation validateIntegratedModeConfiguration="false" /> -->
    <handlers>
      <remove name="WebDAV" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="4194304" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>